@CHARSET "UTF-8";

/********************************************************************************************************* */
/********************************************** HEADER *************************************************** */
/********************************************************************************************************* */
.nav-pills>li>a {
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.nav-pills>li>a:hover {
    background: none;
}

#header .social a {
    padding-top: 7px;
    padding-bottom: 5px;
}

#header .social a>span {
    background: #b0b7bf;
    width: 36px;
    height: 36px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #fff;
    text-align: center;
}

#header .social .dropdown {
    margin-top: 9px;
}

#header .social a.android-icon>span:hover {
    background: #2a7526;
}

#header .social a.github-icon>span:hover {
    background: #000000;
}

#header .social a .fa {
    font-size: 22px;
    padding-top: 7px;
}

#header .social .locale-select a .fa {
    font-size: 15px;
    margin-right: 10px;
}

/********************************************************************************************************* */
/******************************************** HOMEPAGE *************************************************** */
/********************************************************************************************************* */
.main h1, .main h3 {
    text-align: center;
}

.promo {
    background-color: #56bc94;
    color: #fff;
    padding-top: 20px;
}

.promo>.container {
    padding-bottom: 100px;
}

.has-pattern {
    background-image: url(../img/pattern-1.png);
    background-repeat: repeat;
    background-position: left top;
}

/********************************************************************************************************* */
/********************************************** FOOTER *************************************************** */
/********************************************************************************************************* */
.footer {
    background: #f8f8f8;
    color: #99979c;
    float: left;
    padding-bottom: 10px;
    padding-top: 50px;
    text-align: center;
    width: 100%;
}

.footer-links li {
    list-style-type: none;
    text-align: left;
    padding: 5px 0;
}

.footer-links li>ul {
    padding: 15px;
}

.footer-links>li>a {
    font-weight: bold;
    color: #000000;
}

.footer .container>div:last-of-type {
    padding: 10px 0;
}

@media only screen and (max-width: 768px) {
    .promo>.container {
        padding-bottom: 20px;
    }
    .promo .overview h2 {
        margin-bottom: 15px;
    }
    .promo .overview .summary {
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .footer {
        padding-top: 20px;
    }
}