<div class="container">
    <ul class="footer-links row">
        <li class="col-md-6"><a data-locale-text="homepage" href="index.html">Homepage</a>
            <ul>
                <li><a data-locale-text="sorting.sortinghat" href="sorting-hat.html">The Sorting Hat</a></li>
                <li><a data-locale-text="compass.compassintro" href="simple-compass.html">A simple compass</a></li>
                <li><a data-locale-text="jdg.jdg" href="joueurdugrenier.html">Joueur du Grenier</a></li>
                <li><a data-locale-text="filter.filter" href="bluelightfilter.html">Blue light filter</a></li>
                <li><a data-locale-text="caps.caps" href="mycoffeecapsules.html">My Coffee Capsules Inventory</a></li>
            </ul></li>
        <li class="col-md-6"><a data-locale-text="links" href="#">Links</a>
            <ul>
                <li><a data-locale-text="playstore" href="https://play.google.com/store/apps/dev?id=5564318794958031946">Android developer
                        page</a></li>
                <li><a data-locale-text="githubpage" href="https://github.com/merilonstudio">Our github page</a></li>
            </ul></li>
    </ul>
    <div class="row">
        <div class="col-md-12 center">
            <a id="author" rel="author" href="https://merilonstudio.github.io">merilonstudio.github.io</a>
        </div>
    </div>
</div>