<div class="container">
    <ul class="footer-links row">
        <li class="col-md-6"><a data-locale-text="homepage" href="index.html">Homepage</a>
            <ul>
                <li><a data-locale-text="compass.compassintro" href="simple-compass.html">A simple compass</a></li>
                <li><a data-locale-text="filter.filter" href="bluelightfilter.html">Blue light filter</a></li>
                <li><a data-locale-text="bdp.bdp" href="bureauxdelaposte.html">French Post Offices</a></li>
                <li><a data-locale-text="commit.commit" href="commitstrip.html">Commitstrip - The coders app</a></li>
                <li><a data-locale-text="jdg.jdg" href="joueurdugrenier.html">Joueur du Grenier</a></li>
                <li><a data-locale-text="caps.caps" href="mycoffeecapsules.html">My Coffee Capsules Inventory</a></li>
                <li><a data-locale-text="sorting.sortinghat" href="sorting-hat.html">The Sorting Hat</a></li>
            </ul></li>
        <li class="col-md-6"><a data-locale-text="links" href="#author">Links</a>
            <ul>
                <li><a data-locale-text="playstore" href="#" target="_blank">Our Android developer page</a></li>
                <li><a data-locale-text="githubpage" href="#" target="_blank">Our Github page</a></li>
                <li><a data-locale-text="twitterpage" href="#" target="_blank">Our Twitter page</a></li>
            </ul>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-12 center hidden">
            <a id="author" rel="author" href="#"></a>
        </div>
        <div id="contact" class="col-md-12 center" style="margin-top: 10px;">
        </div>
    </div>
</div>
