<nav>
    <div class="container-fluid">

        <div class="hidden-xs col-md-9 col-sm-8" style="height: 50px;">
            <ul class="nav nav-pills col-md-offset-5">
                <li class="col-md-12"><a data-locale-text="homepage" href="index.html">Homepage</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-4" style="height: 50px;">
            <ul class="nav nav-pills social pull-right">
                <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                            <i class="fa fa-flag" aria-hidden="true"></i> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu locale-select" aria-labelledby="dropdownMenu1">
                            <li><a id="setEn" data-locale="en" href="#">en</a></li>
                            <li><a id="setFr" data-locale="fr" href="#">fr</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="https://play.google.com/store/apps/dev?id=5564318794958031946" class="android-icon" target="_blank"
                    title="Our play store page"> <span><i class="fa fa-android" aria-hidden="true"></i></span>
                </a></li>
                <li><a href="https://github.com/merilonstudio" class="github-icon" target="_blank" title="Our github page"> <span><i
                            class="fa fa-github-alt" aria-hidden="true"></i></span>
                </a></li>
            </ul>
        </div>

    </div>

</nav>